.nav {
    min-width: 254px;
    margin-left: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__agency, 
.nav__agency--active{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__agency:hover, 
.nav__agency:focus {
    color: var(--main-color);
}

.nav__agency--active {
    color: var(--main-color);
}

.nav__portfolio, 
.nav__portfolio--active {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__portfolio--active {
    color: var(--main-color);
}

.nav__portfolio:hover,
.nav__portfolio:focus {
    color: var(--main-color);
}

.nav__agency--active, 
.nav__portfolio--active {
    position: relative;
}
.nav__agency--active::after, 
.nav__portfolio--active::after {
    content: "";
    position: absolute;
    height: 4px;
    background: var(--main-color);
    border-radius: 2px;
    margin-top: 44px;
    left: 0;
}

.nav__agency--active::after {
    width: 53px;
}

.nav__portfolio--active::after {
    width: 58px;
}

.nav__contact {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__contact:hover,
.nav__contact:focus {
    color: var(--main-color);
    cursor: pointer;
}